.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar {
  background: #1e1e2d;
  width: 20%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.header {
  background: #eeeff3;

  color: white;
  padding: 10px;
  font-size: 20px;
}

.subHeader {
  background-color: #ddd;
  color: black;
  padding: 10px;
  font-size: 16px;
}
